
    $primary-white-color: #ffff;
    $primary-text-color: #212121;
    $active-color: #2196f3;
    $description-color: #757575;
    $section-bg-color: #2f303a;
    $team-color: #F5F4FA;
    $footer-bg-color: #2f303a;
    $adress-color: rgba(255, 255, 255, 0.6);
    $portfolio-button-color: #f5f4fa;
    $portfolio-servises-item: #EEEEEE;
    $portfolio-feader-border: #ECECEC;
    $social-icons-color:  #AFB1B8;
    $servises-list-wrapper: rgba(33, 150, 243, 0.9);
    $modal-button-color: #188CE8;

  